body{
  background-color:black
}

.work_large{
  display:flex;
  width: 1280px;
  height: 720px;
  opacity: 100%;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  max-width: 100%;
  padding: 30px;
}

.close:hover{
  cursor: pointer;
}

.close img{
  width: 3%;
  align-self: center;
  float: right;
}
