body{
  background-color: #95B3EA;
  overflow:inherit;
}

h1{
  font-family:sans-serif;
  color:black;
  text-transform: uppercase;
  font-size: 50px;
}

h3{
  font-family: sans-serif;
  color:black;
  text-transform: uppercase;
  font-size: 30px;
}

.biggest_box{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}


.top_box{
  display:flex;
  width: auto;
  height: auto;
  opacity: 100%;
  padding: 10px;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 30px;
  align-self: center;
}

.top_box img{
  max-width:50%;
  border-radius: 500px;
  border-style: solid;
  border-width: thick;
  border-color: black;
}

.enter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #FAAFCC;
  width: auto;
  height: auto;
  border-radius: 70px;
  border-style: solid;
  border-width: thick;
  border-color: black;
  align-self: center;
  margin-top: 100px;
  box-shadow: 5px 5px black;
}

.enter img{
  max-width: 60%;
}

.enter:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.enter img:hover{
  cursor: pointer;
  transform: scale(1.05);
}



@media only screen and (max-width:1000px) {



}
