body{
  background-color: white;
}

h1{
  font-family: 'Work Sans', sans-serif;
  color:black;
  font-weight: lighter;
  text-transform: uppercase;
  font-size: 50px;
}

h3{
  font-family: 'Work Sans', sans-serif;
  color:black;
  text-transform: uppercase;
  font-size: 30px;
}

.top_box{
  display:flex;
  width: auto;
  height: auto;
  opacity: 100%;
  padding: 10px;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
}

.name{
  display:flex;
  width: auto;
  height: auto;
  opacity: 100%;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 20px;
  padding-right: 20px;
  border-style: solid;
  border-width: thick;
  border-color: black;
  background-color: white;
}

.work_outer{
  display:flex;
  width: auto;
  flex-wrap: wrap;
  height: auto;
  opacity: 100%;
  flex-direction: row;
  padding: 20px;
  justify-content: space-around;
}

.work_inner{
  display:flex;
  flex-wrap: wrap;
  width: 450px;
  height: 450px;
  opacity: 100%;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  border-style: solid;
  border-width: thick;
  border-color: black;
  overflow: hidden;
}

.work_inner:hover{
  opacity: 60%;
  cursor: pointer;
}

.work_inner img{
  max-width: 100%;
}

@media only screen and (max-width:1000px) {

  .top_box{
    padding:30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    align-self: center;
  }

  .name{
    flex-direction: column;
    padding: 10px;
  }


  .work_outer{
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0px;
  }

  .work_inner{
    margin-bottom: 50px;
    width: 450px;
    height: 450px;
  }

}
